!!! 5
- width, height = 1440, 800

- x_type = data[:types][0].to_json
%html
  %head
    %script(type="text/javascript" src="https://www.google.com/jsapi")
    :css
      html, p, div {
        margin: 0;
        padding: 0;
      }
      body {
        padding: 5px;
      }
      #chart_div {
        width: #{width}px;
        height: #{height}px;
        clear: both;
      }
      .subtext {
        font-size: 12px;
        color: #ccc;
        float: left;
      }
      .right {
        float: right;
      }
    :javascript
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);


      var queryData = #{data.to_json};
      if (queryData.date) {
        var data = queryData.data;
        for (var i = 0, length = data.length; i < length; ++i) {
          var row = data[i];
          row[0] = new Date(row[0]);
        }
      }
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn(#{x_type}, Date.parse(queryData.fields[0]));
        data.addColumn('number', queryData.fields[1]);
        data.addRows(queryData.data);

        var formatter = new google.visualization.NumberFormat({
          pattern: '#,###'
        });
        formatter.format(data, 1);

        // Set chart options
        var options = {'title': queryData.title,
                       'width': #{width},
                       'height': #{height}};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.#{data[:chart_type]}Chart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
  %body
    %p.subtext.right
      = Time.now.getutc.strftime('%Y-%m-%d %H:%M:%S')

    #chart_div
